<!-- your html code here -->
<hr class="bg-secondary border-2 border-top border-secondary" style="margin:3rem !important">
<div style="margin:3rem !important">
    <div style="margin-bottom:3rem !important">
        <h1>Contact</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consectetur cum aliquid, error
            perferendis, veniam aliquam et temporibus voluptatem quidem consequatur omnis id! Labore quod aliquam et,
            iure tenetur nisi.</p>
    </div>
    <div class="row" style="margin-bottom:5rem !important">
        <div class="col-md-8 mx-auto ">

            <div class="card text-center bg-light">

                <div class="card-body py-3">

                    <form class="pt-2 pb-5">
                        <div class="row mb-3 d-flex">
                            <div class="col-3">
                                <label for="exampleInputEmail1" class=" form-label">Your E-mail</label>
                            </div>
                            <div class="col-9">
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="row mb-3 d-flex">
                            <div class="col-3">
                                <label for="floatingTextarea">Your Message</label>
                            </div>
                            <div class="col-9">
                                <textarea class="form-control" placeholder="Please enter your message here"
                                    id="floatingTextarea"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-2 ms-auto text-end m-0">
                                <button type="submit" class="btn btn-primary ">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>