<!-- your html code here -->
<div class="row border-top border-secondary  border-2 border-opacity-10" style="margin:3rem !important">
    <div class="col-md-8 my-5 pt-5">
        <h3><p class="d-inline-flex">This First Heading</p> <p class="text-secondary d-inline">Will Catch Your Eye</p></h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat optio tenetur quae dolores fugit nulla impedit adipisci porro repellat debitis atque iste ad suscipit modi deleniti ipsam illum, doloremque assumenda?</p>
    </div>
    <div class="col-md-4 my-auto py-5">
        <img src="/website/assets/img/1.jpg" class="rounded-circle img-fluid"  alt="Awhite"></img>
    </div>
</div>