<!-- your html code here -->
<div class="p-5">
    <div class="row border-top border-secondary  border-2 border-opacity-10">
        <div class="col-md-12 pt-5">
            <h3>Portfolio</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat optio tenetur quae dolores fugit nulla
                impedit adipisci porro repellat debitis atque iste ad suscipit modi deleniti ipsam illum, doloremque
                assumenda?</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="card border-0">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body ps-0">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, minus adipisci.
                    Porro adipisci alias magni quam, sapiente neque. </p>
            </div>
        </div>
        <div class="card border-0">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body ps-0">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, minus adipisci.
                    Porro adipisci alias magni quam, sapiente neque. </p>
            </div>
        </div>
        <div class="card border-0">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body ps-0">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, minus adipisci.
                    Porro adipisci alias magni quam, sapiente neque. </p>
            </div>
        </div>
    </div>
</div>