<!-- your html code here -->
<hr class="bg-secondary opacity-10 border-2 border-top border-secondary mx-6" style="margin:3rem !important">
<div class="row">
    <div class="col-4">
        <img class="rounded-circle p-5" src="assets/img/2.jpg">
    </div>
    <div class="col-8 p-3">
        <div class="d-flex">
       <div> <h1>The Second Heading </h1></div>
        <div><h1 class="text-secondary mx-2">Is Pretty Cool too</h1></div>
    </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime magni quia error iusto natus veniam! Provident perspiciatis reiciendis molestias obcaecati. Ut, quisquam perferendis eius fuga cumque harum reprehenderit quos neque.</p>
    </div>
</div>